.demo-table {
    width : 100%;
    border-collapse: collapse;
    font-size: 13px;
}
.demo-table th,.demo-table td {
    padding: 5px 2px;
}
.demo-table .title {
    caption-side: bottom;
    margin-top: 12px;
}
.demo-table thead th:last-child,.demo-table tfoot th:last-child,.demo-table tbody td:last-child {
    border: 0;
}
.demo-table thead th {
    border-right: 1px solid #c7ecc7;
    text-transform: uppercase;
}
.demo-table tbody td {
    color: #353535;
    border-right: 1px solid #c7ecc7;
}
.demo-table tbody tr:nth-child(odd) td {
    background-color: #f4fff7;
}
.demo-table tbody tr:nth-child(even) td {
    background-color: #dbffe5;
}
.demo-table tbody tr:hover td {
    background-color: #ffffa2;
    border-color: #ffff0f;
    transition: all .2s;
}
.demo-table tfoot th {
    border-right: 1px solid #c7ecc7;
}
.demo-table tfoot th:first-child {
    text-align: right;
}
.masthead {
    background: linear-gradient(140deg, rgb(52, 226, 195), rgb(4, 91, 76));
}
.navbar {
    background-color: hsl(200,100%,50%);
}
.navbar-default .navbar-nav > .active > a {
    background-color: transparent;
    border-bottom: 2px solid white;
}
.navbar-nav {
    padding-bottom: 1em;
}
.masthead {
    margin-top: -21px;
    color: white;
    text-align: center;
    min-height: 500px;
}
.masthead .header {
    max-width: 700px;
    margin: 0 auto;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.masthead h1.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 4.5em;
    line-height: 1.2em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}
.masthead .btn {
    margin: 1em 0;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-docs-section {
    margin-bottom: 60px;
}
.bs-docs-section:last-child {
    margin-bottom: 0;
}
#message {
    margin-bottom: 40px;
}
